{% extends "base/layout.html" %}


{% block title %} All Blogs {% endblock title %}


{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success d-flex justify-content-between" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}


<div class="row">
{% for blog in blogs %}
<div class="col mt-5">
    <div class="card" style="width: 18rem;">
        {% if blog.image %}
        <img src="{{ blog.image.url }}" alt="blog-image-{{ blog.id }}" class="card-img-top" style="width: auto; height: 250px; object-fit: cover;">
        {% else %}
        <img src="media/media/default_blog.png" alt="default" style="width: auto; height: 250px; object-fit: cover;">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.about }}</p>
            <h5 class="card-title">{{ blog.author.username }}</h5>
            {% for category in blog.categories.all %}
            <p class="card-text">{{ category.name }}</p>
            {% endfor %}
            <div class="d-flex">
                <a href="{% url "detail_blog" blog.id %}" class="btn btn-primary">Ətraflı</a>
                {% if blog.author == user %}
                <form action="{% url "delete_blog" blog.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger ms-2">Sil</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% comment %} {% if blog.author == user %}
<a href="{% url "update_blog" blog.id %}">Update</a><br>
<a href="{% url "delete_blog" blog.id %}">Delete</a><br>
{% endif %}
<a href="{% url "detail_blog" blog.id %}">{{ blog.id }}</a><br>
{% if blog.image %}
<img src="{{ blog.image.url }}" alt="blog-image-{{ blog.id }}" width="250px">
{% endif %}
<p>{{ blog.author_fullname }}</p>
<p>{{ blog.title }}</p>
<p>{{ blog.published_date|date:"d-M-Y H:i" }}</p> {% endcomment %}

{% endfor %}
</div>

{% endblock content %}