{% extends "base/layout.html" %}


{% block title %} All Blogs {% endblock title %}


{% block content %}

{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}


<p>---------------------------------------------------</p>

{% for blog in blogs %}
{% if blog.author == user %}
<a href="{% url "update_blog" blog.id %}">Update</a><br>
<a href="{% url "delete_blog" blog.id %}">Delete</a><br>
{% endif %}
<a href="{% url "detail_blog" blog.id %}">{{ blog.id }}</a><br>
{% if blog.image %}
<img src="{{ blog.image.url }}" alt="blog-image-{{ blog.id }}" width="250px">
{% endif %}
<p>{{ blog.author_fullname }}</p>
<p>{{ blog.title }}</p>
<p>{{ blog.published_date|date:"d-M-Y H:i" }}</p>
<p>---------------------------------------------------</p>
{% endfor %}

{% endblock content %}